[submodule "GxBottleRocket.lv2"]
	path = GxBottleRocket.lv2
	url = https://github.com/brummer10/GxBottleRocket.lv2
[submodule "GxHotBox.lv2"]
	path = GxHotBox.lv2
	url = https://github.com/brummer10/GxHotBox.lv2
[submodule "GxVBassPreAmp.lv2"]
	path = GxVBassPreAmp.lv2
	url = https://github.com/brummer10/GxVBassPreAmp.lv2
[submodule "GxSuppaToneBender.lv2"]
	path = GxSuppaToneBender.lv2
	url = https://github.com/brummer10/GxSuppaToneBender.lv2
[submodule "GxHyperion.lv2"]
	path = GxHyperion.lv2
	url = https://github.com/brummer10/GxHyperion.lv2
[submodule "GxVoodoFuzz.lv2"]
	path = GxVoodoFuzz.lv2
	url = https://github.com/brummer10/GxVoodoFuzz.lv2
[submodule "GxSaturator.lv2"]
	path = GxSaturator.lv2
	url = https://github.com/brummer10/GxSaturator.lv2
[submodule "GxVintageFuzzMaster.lv2"]
	path = GxVintageFuzzMaster.lv2
	url = https://github.com/brummer10/GxVintageFuzzMaster.lv2
[submodule "GxSuperFuzz.lv2"]
	path = GxSuperFuzz.lv2
	url = https://github.com/brummer10/GxSuperFuzz.lv2
[submodule "GxVmk2.lv2"]
	path = GxVmk2.lv2
	url = https://github.com/brummer10/GxVmk2.lv2
[submodule "GxUVox720k.lv2"]
	path = GxUVox720k.lv2
	url = https://github.com/brummer10/GxUVox720k.lv2
[submodule "GxSlowGear.lv2"]
	path = GxSlowGear.lv2
	url = https://github.com/brummer10/GxSlowGear.lv2
[submodule "GxGuvnor.lv2"]
	path = GxGuvnor.lv2
	url = https://github.com/brummer10/GxGuvnor.lv2
[submodule "GxToneMachine.lv2"]
	path = GxToneMachine.lv2
	url = https://github.com/brummer10/GxToneMachine.lv2
[submodule "GxSD1.lv2"]
	path = GxSD1.lv2
	url = https://github.com/brummer10/GxSD1.lv2
[submodule "GxQuack.lv2"]
	path = GxQuack.lv2
	url = https://github.com/brummer10/GxQuack.lv2
[submodule "GxSD2Lead.lv2"]
	path = GxSD2Lead.lv2
	url = https://github.com/brummer10/GxSD2Lead.lv2
[submodule "GxSVT.lv2"]
	path = GxSVT.lv2
	url = https://github.com/brummer10/GxSVT.lv2
[submodule "GxHeathkit.lv2"]
	path = GxHeathkit.lv2
	url = https://github.com/brummer10/GxHeathkit.lv2
[submodule "GxKnightFuzz.lv2"]
	path = GxKnightFuzz.lv2
	url = https://github.com/brummer10/GxKnightFuzz.lv2
[submodule "GxFz1b.lv2"]
	path = GxFz1b.lv2
	url = https://github.com/brummer10/GxFz1b.lv2
[submodule "GxFz1s.lv2"]
	path = GxFz1s.lv2
	url = https://github.com/brummer10/GxFz1s.lv2
[submodule "GxAxisFace.lv2"]
	path = GxAxisFace.lv2
	url = https://github.com/brummer10/GxAxisFace.lv2
[submodule "GxSunFace.lv2"]
	path = GxSunFace.lv2
	url = https://github.com/brummer10/GxSunFace.lv2
[submodule "GxLiquidDrive.lv2"]
	path = GxLiquidDrive.lv2
	url = https://github.com/brummer10/GxLiquidDrive.lv2
[submodule "GxDOP250.lv2"]
	path = GxDOP250.lv2
	url = https://github.com/brummer10/GxDOP250.lv2
