[submodule "GxBottleRocket.lv2"]
	path = GxBottleRocket.lv2
	url = https://github.com/brummer10/GxBottleRocket.lv2
[submodule "GxHotBox.lv2"]
	path = GxHotBox.lv2
	url = https://github.com/brummer10/GxHotBox.lv2
[submodule "GxVBassPreAmp.lv2"]
	path = GxVBassPreAmp.lv2
	url = https://github.com/brummer10/GxVBassPreAmp.lv2
[submodule "GxSuppaToneBender.lv2"]
	path = GxSuppaToneBender.lv2
	url = https://github.com/brummer10/GxSuppaToneBender.lv2
[submodule "GxHyperion.lv2"]
	path = GxHyperion.lv2
	url = https://github.com/brummer10/GxHyperion.lv2
[submodule "GxVoodoFuzz.lv2"]
	path = GxVoodoFuzz.lv2
	url = https://github.com/brummer10/GxVoodoFuzz.lv2
[submodule "GxSaturator.lv2"]
	path = GxSaturator.lv2
	url = https://github.com/brummer10/GxSaturator.lv2
[submodule "GxVintageFuzzMaster.lv2"]
	path = GxVintageFuzzMaster.lv2
	url = https://github.com/brummer10/GxVintageFuzzMaster.lv2
[submodule "GxSuperFuzz.lv2"]
	path = GxSuperFuzz.lv2
	url = https://github.com/brummer10/GxSuperFuzz.lv2
[submodule "GxVmk2.lv2"]
	path = GxVmk2.lv2
	url = https://github.com/brummer10/GxVmk2.lv2
[submodule "GxUVox720k.lv2"]
	path = GxUVox720k.lv2
	url = https://github.com/brummer10/GxUVox720k.lv2
[submodule "GxSlowGear.lv2"]
	path = GxSlowGear.lv2
	url = https://github.com/brummer10/GxSlowGear.lv2
[submodule "GxGuvnor.lv2"]
	path = GxGuvnor.lv2
	url = https://github.com/brummer10/GxGuvnor.lv2
[submodule "GxToneMachine.lv2"]
	path = GxToneMachine.lv2
	url = https://github.com/brummer10/GxToneMachine.lv2
[submodule "GxSD1.lv2"]
	path = GxSD1.lv2
	url = https://github.com/brummer10/GxSD1.lv2
[submodule "GxQuack.lv2"]
	path = GxQuack.lv2
	url = https://github.com/brummer10/GxQuack.lv2
[submodule "GxSD2Lead.lv2"]
	path = GxSD2Lead.lv2
	url = https://github.com/brummer10/GxSD2Lead.lv2
[submodule "GxSVT.lv2"]
	path = GxSVT.lv2
	url = https://github.com/brummer10/GxSVT.lv2
[submodule "GxHeathkit.lv2"]
	path = GxHeathkit.lv2
	url = https://github.com/brummer10/GxHeathkit.lv2
[submodule "GxKnightFuzz.lv2"]
	path = GxKnightFuzz.lv2
	url = https://github.com/brummer10/GxKnightFuzz.lv2
[submodule "GxFz1b.lv2"]
	path = GxFz1b.lv2
	url = https://github.com/brummer10/GxFz1b.lv2
[submodule "GxFz1s.lv2"]
	path = GxFz1s.lv2
	url = https://github.com/brummer10/GxFz1s.lv2
[submodule "GxAxisFace.lv2"]
	path = GxAxisFace.lv2
	url = https://github.com/brummer10/GxAxisFace.lv2
[submodule "GxSunFace.lv2"]
	path = GxSunFace.lv2
	url = https://github.com/brummer10/GxSunFace.lv2
[submodule "GxLiquidDrive.lv2"]
	path = GxLiquidDrive.lv2
	url = https://github.com/brummer10/GxLiquidDrive.lv2
[submodule "GxDOP250.lv2"]
	path = GxDOP250.lv2
	url = https://github.com/brummer10/GxDOP250.lv2
[submodule "GxTubeDistortion.lv2"]
	path = GxTubeDistortion.lv2
	url = https://github.com/brummer10/GxTubeDistortion.lv2
[submodule "GxMicroAmp.lv2"]
	path = GxMicroAmp.lv2
	url = https://github.com/brummer10/GxMicroAmp.lv2
[submodule "GxCreamMachine.lv2"]
	path = GxCreamMachine.lv2
	url = https://github.com/brummer10/GxCreamMachine.lv2
[submodule "GxBoobTube.lv2"]
	path = GxBoobTube.lv2
	url = https://github.com/brummer10/GxBoobTube.lv2
[submodule "GxValveCaster.lv2"]
	path = GxValveCaster.lv2
	url = https://github.com/brummer10/GxValveCaster.lv2
[submodule "GxSupersonic.lv2"]
	path = GxSupersonic.lv2
	url = https://github.com/brummer10/GxSupersonic.lv2
[submodule "GxEpic.lv2"]
	path = GxEpic.lv2
	url = https://github.com/brummer10/GxEpic.lv2
[submodule "GxShakaTube.lv2"]
	path = GxShakaTube.lv2
	url = https://github.com/brummer10/GxShakaTube.lv2
[submodule "GxBaJaTubeDriver.lv2"]
	path = GxBaJaTubeDriver.lv2
	url = https://github.com/brummer10/GxBaJaTubeDriver.lv2
[submodule "GxUltraCab.lv2"]
	path = GxUltraCab.lv2
	url = https://github.com/brummer10/GxUltraCab.lv2
[submodule "GxTimRay.lv2"]
	path = GxTimRay.lv2
	url = https://github.com/brummer10/GxTimRay.lv2
[submodule "GxLuna.lv2"]
	path = GxLuna.lv2
	url = https://github.com/brummer10/GxLuna.lv2
[submodule "GxSloopyBlue.lv2"]
	path = GxSloopyBlue.lv2
	url = https://github.com/brummer10/GxSloopyBlue.lv2
[submodule "GxEternity.lv2"]
	path = GxEternity.lv2
	url = https://github.com/brummer10/GxEternity.lv2
[submodule "GxBlueAmp.lv2"]
	path = GxBlueAmp.lv2
	url = https://github.com/brummer10/GxBlueAmp.lv2
[submodule "GxPlexi.lv2"]
	path = GxPlexi.lv2
	url = https://github.com/brummer10/GxPlexi.lv2
[submodule "GxClubDrive.lv2"]
	path = GxClubDrive.lv2
	url = https://github.com/brummer10/GxClubDrive.lv2
